:80 {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-XSS-Protection "1; mode=block"
		-Server
	}

	handle /api/* {
		reverse_proxy servidor-central:8000
	}

	handle /shared/* {
		reverse_proxy app-central:80
	}

	handle_path /diario/* {
		reverse_proxy app-diario:80
	}

	handle_path /jogos/* {
		reverse_proxy app-jogos:80
	}

	handle_path /saude/* {
		reverse_proxy app-saude:80
	}

	handle {
		reverse_proxy app-central:80
	}
}
